<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="dashboard-box">
    <h1>Welcome, <span th:text="${userName}"></span></h1>
    <p>Your DineDrop customer dashboard</p>

    <div class="btn-group">
        <a href="#" class="btn">Browse Foods</a>
        <a href="#" class="btn">My Cart</a>
        <a href="#" class="btn">My Orders</a>
        <a th:href="@{/customer/profile}" class="btn">My Profile</a>
        <a th:href="@{/logout}" class="btn btn-dark">Logout</a>
    </div>
</div>
</body>
</html>