<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Delivery System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="dashboard-box">
    <h1>Online Food Delivery System</h1>
    <p>Customer Management Module</p>

    <div class="btn-group">
        <a th:href="@{/customer/register}" class="btn">Customer Register</a>
        <a th:href="@{/customer/login}" class="btn">Customer Login</a>
    </div>
</div>
</body>
</html>